# >>> Editors
.idea/
.vs/
riderModule.iml
/_ReSharper.Caches/
*.sln.DotSettings.user
# <<< Editors

# >>> Runtime
bin/
obj/
dir/
/packages/
# <<< Runtime

# >>> Configurations
.env*
!*.example
# <<< Configurations

# >>> Docker
docker/certs/
# <<< Docker

# >>> Deploy artifacts
publish/
*.tar.gz
*.zip
# <<< Deploy artifacts
